<!-- add_security.html -->
<div class="modal fade" id="addSecurityModal" tabindex="-1" aria-labelledby="addSecurityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSecurityModalLabel">Add New Security</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'database:add_security' %}">
                    {% csrf_token %}
                    {% for field in security_form %}
                        <div class="mb-3 row">
                            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label">{{ field.label }}</label>
                            <div class="col-md-8">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
