AW-portolio-management/
X1-portfolio-management/

portfolio_management/dashboard/__pycache__/
portfolio_management/dashboard/migrations/__pycache__/
portfolio_management/portfolio_management/__pycache__/
portfolio_management/closed_positions/__pycache__/
portfolio_management/__pycache__/
portfolio_management/common/__pycache__/
portfolio_management/common/templatetags/__pycache__/
portfolio_management/dashboard/templatetags/__pycache__/
portfolio_management/open_positions/__pycache__/
portfolio_management/users/__pycache__/
portfolio_management/closed_positions/migrations/__pycache__/
portfolio_management/common/migrations/__pycache__/
portfolio_management/users/migrations/__pycache__/
portfolio_management/open_positions/migrations/__pycache__/
portfolio_management/transactions/__pycache__/
portfolio_management/transactions/migrations/__pycache__/
portfolio_management/database/__pycache__/
portfolio_management/database/migrations/__pycache__/
portfolio_management/summary_analysis/__pycache__/


# Database
portfolio_management/db.sqlite3
*.sqlite3

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore local environment files
.env

.DS_Store
node_modules/
/dist/


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Thumbs.db

/coverage/

*.log
*.tmp
*.temp
portfolio_management/db.sqlite3 (backup)
