AW-portolio-management/
X1-portfolio-management/

portfolio_management/dashboard/__pycache__/
portfolio_management/dashboard/migrations/__pycache__/
portfolio_management/portfolio_management/__pycache__/
portfolio_management/closed_positions/__pycache__/
portfolio_management/__pycache__/
portfolio_management/common/__pycache__/
portfolio_management/common/templatetags/__pycache__/
portfolio_management/dashboard/templatetags/__pycache__/
portfolio_management/open_positions/__pycache__/
portfolio_management/users/__pycache__/
portfolio_management/closed_positions/migrations/__pycache__/
portfolio_management/common/migrations/__pycache__/
portfolio_management/users/migrations/__pycache__/
portfolio_management/open_positions/migrations/__pycache__/
portfolio_management/transactions/__pycache__/
portfolio_management/transactions/migrations/__pycache__/
portfolio_management/database/__pycache__/
portfolio_management/database/migrations/__pycache__/
portfolio_management/__pycache__/
*/__pycache__/*

portfolio_frontend/node_modules/

.env.production
portfolio-frontend/node_modules/
portfolio_management/secrets.json
portfolio_management/venv/
portfolio_management/users/__pycache__/
portfolio_management/tests/__pycache__/
portfolio_management/temp_files/
portfolio_management/core/__pycache__/
portfolio_management/common/__pycache__/
portfolio_management/common/management/__pycache__/
portfolio_management/logs/json.log
Data/
portfolio_management/users/__pycache__/admin.cpython-312.pyc
portfolio_management/users/__pycache__/apps.cpython-312.pyc
portfolio_management/users/__pycache__/models.cpython-312.pyc
portfolio_management/db.sqlite3
portfolio_management/summary_analysis/__pycache__/admin.cpython-312.pyc
portfolio_management/summary_analysis/__pycache__/apps.cpython-312.pyc
portfolio_management/summary_analysis/__pycache__/models.cpython-312.pyc
portfolio_management/summary_analysis/__pycache__/tests.cpython-312-pytest-8.3.2.pyc
portfolio_management/summary_analysis/__pycache__/tests.cpython-312-pytest-8.4.2.pyc
portfolio_management/__pycache__/constants.cpython-312.pyc
portfolio_management/__pycache__/utils.cpython-312.pyc
portfolio_management/common/__pycache__/admin.cpython-312.pyc
portfolio_management/common/__pycache__/apps.cpython-312.pyc
portfolio_management/common/__pycache__/models.cpython-312.pyc
portfolio_management/common/management/commands/__pycache__/__init__.cpython-312.pyc
portfolio_management/common/management/commands/__pycache__/fetch_bond_coupon_schedules.cpython-312.pyc
portfolio_management/users/__pycache__/admin.cpython-312.pyc
portfolio_management/users/__pycache__/apps.cpython-312.pyc
portfolio_management/users/__pycache__/models.cpython-312.pyc
portfolio_management/__pycache__/constants.cpython-312.pyc
portfolio_management/__pycache__/utils.cpython-312.pyc
portfolio_management/db.sqlite3
.vscode/settings.json
portfolio_management/db.sqlite3
