aiohttp
asgiref
Babel
beautifulsoup4
channels
chardet
django-debug-toolbar
django-cors-headers
cryptography
Django
djangorestframework
djangorestframework-simplejwt
fake_useragent
filelock
fuzzywuzzy
networkx
numpy
pandas
pyOpenSSL
python-Levenshtein
pyxirr
simplejson
structlog
tinkoff
tinkoff-investments
uvicorn
yfinance
zstandard
