aiohttp
asgiref
Babel
beautifulsoup4
channels
chardet
django-debug-toolbar
django-cors-headers
cryptography
Django
djangorestframework
djangorestframework-simplejwt
fake_useragent
filelock
fuzzywuzzy
networkx
numpy
pandas
pyOpenSSL
python-Levenshtein
pyxirr
simplejson
structlog
--extra-index-url https://opensource.tbank.ru/api/v4/projects/238/packages/pypi/simple
t-tech-investments
uvicorn
yfinance
zstandard
