<tr class="border-bottom">
    <td class="border-0 fw-bold" colspan="2">Total for assets</td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.entry_value }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.current_value }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.all_assets_share_of_portfolio_percentage }}</td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.realized_gl }}</td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.unrealized_gl }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.price_change_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.capital_distribution }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.capital_distribution_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.commission }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.commission_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.total_return_amount }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.total_return_percentage }}</td>
    <td class="text-center border-0 fw-bold fst-italic"></td>
</tr>
<tr class="border-bottom">
    <td class="border-0" colspan="2">Cash</td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="text-center border-0">{{ portfolio_open_totals.cash }}</td>
    <td class="text-center border-0 fst-italic">{{ portfolio_open_totals.cash_share_of_portfolio }}</td>
    <td class="border-0 fw-bold"></td>
    <td class="border-0 fw-bold"></td>
    <td class="border-0 fw-bold"></td>
    <td class="border-0"></td>
    <td class="border-0 fw-bold"></td>
    <td class="border-0 fw-bold"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
</tr>
<tr>
    <td class="border-0 fw-bold" colspan="2">TOTAL</td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_open_totals.total_nav }}</td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold fst-italic"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold fst-italic"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold fst-italic"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold"></td>
    <td class="text-center border-0 fw-bold fst-italic"></td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_open_totals.irr }}</td>
</tr>