{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}

{% block script %}

    <!-- Script from DataTables -->
    <script>
        $(document).ready(function () {
            $('#table-database-brokers').DataTable( {
                // Make the default sorting by column 4 (DATE) and do not show sorting for selected columns
                "autoWidth": false,
                columnDefs: [
                    { orderable: false, targets: [1, 2, 7] }
                ],
                order: [[0, 'asc']],
                "dom": "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-3'l><'col-sm-12 col-md-4'f><'col-sm-12 col-md-5'p>>",
                "pageLength": 25
            });
        });

    </script>

{% endblock script %}

{% block title %}
    Database – Brokers
{% endblock title %}

{% block main_page_title %}
    <h2>Database – Brokers</h2>
{% endblock main_page_title %}

{% block content %}

    <div>
        <button type="button" class="btn btn-secondary me-2 edit-entry-button" data-edit-type="broker" id="editTransactionButton" disabled>
            Edit
        </button>
        <button type="button" class="btn btn-danger" id="deleteBrokerButton" data-delete-type="broker" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" disabled>
            <i class="bi bi-trash3"></i>
        </button>
    </div>

    <div class="content-body">
        <div class="tab-pane" id="nav-brokers" role="tabpanel">
            <table id="table-database-brokers" class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th class="text-start" rowspan="2">Name</th>
                        <th class="text-center" rowspan="2">Country</th>
                        <th class="text-center" rowspan="2">Currencies</th>
                        <th class="text-center" rowspan="2">Number of securities</th>
                        <th class="text-center" rowspan="2">First investment</th>
                        <th class="text-center" rowspan="2">Current NAV</th>
                        <th class="text-center colspan" colspan="{{ currencies | length }}">Cash balance</th>
                        <th class="text-center" rowspan="2">Return to date</th>
                    </tr>
                    <tr>
                        {% for cur in currencies %}
                            <th class="text-center">{{ cur }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for broker in brokers %}    
                    <tr>
                        <td>
                            <input class="form-check-input transaction-radio" type="radio" name="radioTransaction" value="{{ broker.id }}">
                        </td>
                        <td class="text-start">{{ broker.name }}</td>
                        <td class="text-center">{{ broker.country }}</td>
                        <td class="text-center">
                            {% if broker.currencies %}
                                {{ broker.currencies }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">{{ broker.no_of_securities }}</td>
                        <td class="text-center">{{ broker.first_investment|date:'d-M-y' }}</td>
                        <td class="text-center">{{ broker.NAV }}</td>
                        {% for cur in currencies %}
                            <td class="text-center">
                                {{ broker.cash|get_item:cur }}
                            </td>
                        {% endfor %}
                        <td class="text-center">{{ broker.irr }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="border-0"></td>
                        <td class="border-0 fw-bold" colspan="2">TOTAL</td>
                        <td class="border-0"></td>
                        <td class="text-center border-0 fw-bold">{{ broker_totals|get_item:"no_of_securities" }}</td>
                        <td class="border-0"></td>
                        <td class="text-center border-0 fw-bold">{{ broker_totals|get_item:"NAV" }}</td>
                        {% for cur in currencies %}
                            <td class="border-0 text-center"></td>
                        {% endfor %}
                        <td class="text-center border-0 fw-bold">{{ broker_totals|get_item:"IRR" }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock content %}