{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}

{% block script %}

    <!-- Script from DataTables -->
    <script>
        $(document).ready(function () {
            $('#table-database-securities').DataTable( {
                // Make the default sorting by column 4 (DATE) and do not show sorting for selected columns
                "autoWidth": false,
                // columnDefs: [
                //     { orderable: false, targets: [1, 2, 3, 5, 7, 8, 13] }
                // ],
                order: [[4, 'desc']],
                "dom": "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-3'l><'col-sm-12 col-md-4'f><'col-sm-12 col-md-5'p>>",
                "pageLength": 25
            });
        });

    </script>

{% endblock script %}

{% block title %}
    Database – Securities
{% endblock title %}

{% block main_page_title %}
    <h2>Database – Securities</h2>
{% endblock main_page_title %}

{% block content %}

    <div class="content-header">
        {% include "snippets/buttons-settings-header.html" with type="security" buttons=buttons %}
    </div>

    <div class="content-body">
        <div class="tab-pane" id="nav-securities" role="tabpanel">
            <table id="table-database-securities" class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th class="text-start">Type</th>
                        <th class="text-start">ISIN</th>
                        <th class="text-start">Name</th>
                        <th class="text-center">First investment</th>
                        <th class="text-center">Currency</th>
                        <th class="text-center">Open position</th>
                        <th class="text-center">Current value</th>
                        <th class="text-center">Realized gain/(loss)</th>
                        <th class="text-center">Unrealized gain/(loss)</th>
                        <th class="text-center">Capital distribution</th>
                        <th class="text-center">Return</th>
                    </tr>
                </thead>
                <tbody>
                {% for security in securities %}    
                    <tr>
                        <td>
                            <input class="form-check-input edit-radio" type="radio" name="radioBroker" value="{{ security.id }}">
                        </td>
                        <td class="text-start">{{ security.type }}</td>
                        <td class="text-start">{{ security.ISIN }}</td>
                        <td class="text-start text-nowrap">{{ security.name }}</td>
                        <td class="text-center">{{ security.first_investment | date:'j-M-y' }}</td>
                        <td class="text-center">{{ security.currency | upper }}</td>
                        <td class="text-center">{{ security.open_position }}</td>
                        <td class="text-center">{{ security.current_value }}</td>
                        <td class="text-center">{{ security.realised }}</td>
                        <td class="text-center">{{ security.unrealised }}</td>
                        <td class="text-center">{{ security.capital_distribution }}</td>
                        <td class="text-center fst-italic">{{ security.irr }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}