{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}

{% block script %}

    {% comment %} <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script> {% endcomment %}

    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script> {% endcomment %}

    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.6/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.6/datatables.min.js"></script>

    <!-- Script from DataTables -->
    <script>
        $(document).ready(function () {
            $('#table-open').DataTable( {
                // Make the default sorting by column 4 (DATE) and do not show sorting for selected columns
                "autoWidth": false,
                columnDefs: [
                    { orderable: false, targets: [0, 2, 3, 5, 7, 8, 13] }
                ],
                order: [[4, 'asc']],
                dom: 'rt<"bottom"<"row"<"col-md-4"l><"col-md-4 text-center"f><"col-md-4 text-right"p>>>'
                {% comment %} "dom": "<'row'<tr>>" +
                            "<'row'<'col-md-3'l><'col-md-4'f><'col-md-5'p>>",
                "pageLength": 25 {% endcomment %}
            });
        });

    </script>

{% endblock script %}

{% block title %}
    Open positions
{% endblock title %}

{% block main_page_title %}
    <h2>Open positions</h2>
{% endblock main_page_title %}

{% block content %}

    {% include "snippets/buttons-settings-header.html" %}

    <table id="table-open" class="table table-hover table-striped align-middle">
        <thead>
            <tr>
                <th class="text-start" rowspan="2">Type</th>
                <th class="text-start" rowspan="2">Name</th>
                <th class="text-center" rowspan="2">Currency</th>
                <th class="text-center" rowspan="2">Position</th>
                <th class="text-center colspan" colspan="3">Entry</th>
                <th rowspan="2"></th>
                <th class="text-center colspan" colspan="5">As of {{ table_date }}</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Price</th>
                <th class="text-center">Value</th>
                <th class="text-center">Price</th>
                <th class="text-center">Value</th>
                <th class="text-center">Unrealized</th>
                <th class="text-center">Dividends</th>
                <th class="text-center">Return</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
        {% for asset in portfolio_open %}    
            <tr>
                <td class="text-start">{{ asset.type }}</td>
                <td class="text-start">{{ asset.name }}</td>
                <td class="text-center">{{ asset.currency | upper }}</td>
                <td class="text-center">{{ asset.position_at_date }}</td>
                <td class="text-center" nowrap>{{ asset.investment_date }}</td>
                <td class="text-center">{{ asset.entry_price }}</td>
                <td class="text-center">{{ asset.entry_value }}</td>
                <td></td>
                <td class="text-center">{{ asset.current_price }}</td>
                <td class="text-center">{{ asset.current_value }}</td>
                <td class="text-center">{{ asset.unrealized_gl }}</td>
                <td class="text-center">{{ asset.capital_distribution }}</td>
                <td class="text-center">{{ asset.irr }}%</td>
                <td class="text-end" width="10%">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" id="table-button-buy" data-bs-toggle="modal" data-bs-target="#Addnewtransaction" onclick="fillTransactionForm(this)">
                        Buy
                    </button>
                    <button type="button" class="btn btn-danger" id="table-button-sell" data-bs-toggle="modal" data-bs-target="#Addnewtransaction" onclick="fillTransactionForm(this)">
                        Sell
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold" colspan="2">TOTAL</td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="text-center border-0 fw-bold">{{ portfolio_open_totals|get_item:"entry_value" }}</td>
                <td class="border-0"></td>
                <td class="text-center border-0 fw-bold"></td>
                <td class="text-center border-0 fw-bold">{{ portfolio_open_totals|get_item:"current_value" }}</td>
                <td class="text-center border-0 fw-bold">{{ portfolio_open_totals|get_item:"unrealized_gl" }}</td>
                <td class="text-center border-0 fw-bold">{{ portfolio_open_totals|get_item:"capital_distribution" }}</td>
            </tr>
        </tfoot>
    </table>    

{% endblock content %}