/* Extended sidebar to the left */
.extended_sidebar {
    width: 0px;
    padding: 1rem 0 1rem 0;
    transition: 0.25s; /* 0.25 second transition effect to slide in the sidenav */
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* #sidebar {
    Fill the parent width (.left)
    width: -webkit-fill-available;
} */

.nav-menu-icon {
    height: 37.5px;
    cursor: pointer;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    cursor: pointer;
}

.nav-link {
    margin: 0.4375rem 0;
    padding: 0.5rem 1rem;
}

.right {
    flex: 3;
    position: relative;
    transition: margin-left .5s;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make the right side take the full viewport height */
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-header {
    flex-shrink: 0;
    /* additional styles for your header */
}

.content-body {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling for the table */
    overflow-x: hidden;
    /* Ensure the table takes the full width */
    width: 100%;
}

/* Get back black borders in the table on the top and bottom */
table[id^=table-] {
    border-collapse: collapse !important;
    font-size: small;
    width: 100%;
    /* Optional: Fix table header to the top */
    thead {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
    }
}

[id*='table-button'] {
    font-size: small;
    padding: 2px 10px 2px 10px;
}

#nav-open, #nav-closed, #nav-analysis, #nav-brokers, #nav-securities {
    margin-top: 0.75em
}

.alert {
    margin: 1rem;
}

/* Make cursor pointer for class starting with form-check */
[class*='form-check'] {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.analysis-container {
    display: flex;
}

.analysis-child-1 {
    flex-grow: 1;
}

.analysis-child-2 {
    flex-grow: 2;
    padding-left: 10px;
}

.analysis-sub-child {
    flex-direction: column;
    margin-bottom: 1rem;
}

.colspan {
    border-bottom-color: black;
}

div.dataTables_filter > label,
div.dataTables_length > label,
div.dataTables_info,
.page-link {
    font-size: smaller;
}

#table-database-fx_filter,
#table-database-etf_filter,
#table-database-mutual-fund_filter,
#table-database-stock_filter,
#table-database-bond_filter {
    padding-top: 0.5rem;
}

.price-top-row {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border-bottom: none;
}

.chart-timeline {
    margin: 0 0 10px 0;
}

h2 {
    margin-bottom: 0px;
}

.modal-dialog-top-left {
    position: fixed;
    top: 0;
    left: 0;
}

#loadingIndicatorNAVChart {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it's above other content */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

#nav-chart {
    position: relative;
}

/* Spinner styles */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* New styles for the overlay */
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-overlay.show {
    display: flex;
}

.broker-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.broker-nav-arrow {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.broker-nav-arrow:hover {
    background-color: #0056b3;
}

#brokerSelect {
    padding: 10px;
    margin: 0 10px;
}
