{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    

        <meta name="description" content="Portfolio analysis">
        <meta name="keywords" content="portfolio, investments">

        <!--jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- Bootstrap CSS + JS plugin-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
            
        <!-- Latest BS-Select compiled and minified CSS/JS -->
        <!-- https://developer.snapappointments.com/bootstrap-select/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

        <!-- Datatables -->
        <link href="https://cdn.datatables.net/v/bs5/dt-2.0.6/datatables.min.css" rel="stylesheet">
        <script src="https://cdn.datatables.net/v/bs5/dt-2.0.6/datatables.min.js"></script>

        {% if user.is_authenticated %}
            <script src="{% static 'js/sidebar.js' %}"></script>
        {% endif %}

        {% block script %}{% endblock script %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title>{% block title %} {% endblock title %}</title>
    </head>

    <body>
        
        <div class="d-flex">
            {% if user.is_authenticated %}
                <nav class="d-flex text-center">
                    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">
                        <img src="{% static 'icons/list.svg' %}" alt="Bootstrap" class="nav-menu-icon" title="Expand menu" height="37.5px" width="37.5px" onclick="actionNav()">
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li {% if request.path == '/dashboard/' %} style="background-color: #e9ecef; border-radius: 0.5rem" {% endif %}>
                                <a href="{% url 'dashboard:dashboard' %}">
                                    <img src="{% static 'icons/briefcase.svg' %}" alt="Bootstrap" class="nav-icon" title="Dashboard" height="30px" width="30px">
                                </a>
                            </li>
                            <li {% if request.path == '/open-positions/' %} style="background-color: #e9ecef; border-radius: 0.5rem" {% endif %}>
                                <a href="{% url 'open_positions:open_positions' %}">
                                    <img src="{% static 'icons/clipboard2-check.svg' %}" alt="Bootstrap" class="nav-icon" title="Open" height="30px" width="30px">
                                </a>
                            </li>
                            <li {% if request.path == '/closed-positions/' %} style="background-color: #e9ecef; border-radius: 0.5rem" {% endif %}>
                                <a href={% url 'closed_positions:closed_positions' %}>
                                    <img src="{% static 'icons/clipboard2-x.svg' %}" alt="Bootstrap" class="nav-icon" title="Closed" height="30px" width="30px">
                                </a>
                            </li>
                            <li {% if request.path == '/transactions/' %} style="background-color: #e9ecef; border-radius: 0.5rem" {% endif %}>
                                <a href={% url 'transactions:transactions' %}>
                                    <img src="{% static 'icons/arrow-left-right.svg' %}" alt="Bootstrap" class="nav-icon" title="Transactions" height="30px" width="30px">
                                </a>
                            </li>
                            <hr>
                            <li {% if request.path == '/database/' %} style="background-color: #e9ecef; border-radius: 0.5rem" {% endif %}>
                                <a href="#" onclick="toggleExtendedSidebar()">
                                    <img src="{% static 'icons/database.svg' %}" alt="Bootstrap" class="nav-icon" title="Database" height="30px" width="30px">
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <a href="{% url 'users:profile' %}">
                            <img src="{% static 'icons/person-circle.svg' %}" alt="Bootstrap" class="nav-icon" title="Database" height="30px" width="30px">
                        </a>
                    </div>
                </nav>
                <div class="extended_sidebar d-flex flex-column bg-light" id="extendedSidebar" style="width: {{ sidebar_width }}px; padding-right: {{ sidebar_padding }}rem;">
                    <a href="#" class="link-dark text-decoration-none">
                        <span class="d-flex nav-menu-icon fs-3">Menu</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="{% url 'dashboard:dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% else %}link-dark{% endif %}">Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'open_positions:open_positions' %}" class="nav-link {% if request.path == '/open-positions/' %}active{% else %}link-dark{% endif %}">Open</a>
                        </li>
                        <li>
                            <a href="{% url 'closed_positions:closed_positions' %}" class="nav-link {% if request.path == '/closed-positions/' %}active{% else %}link-dark{% endif %}">Closed</a>
                        </li>
                        <li>
                            <a href="{% url 'transactions:transactions' %}" class="nav-link {% if request.path == '/transactions/' %}active{% else %}link-dark{% endif %}">Transactions</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="nav-link {% if request.path == '/database/' %}active{% else %}link-dark{% endif %}" onclick="toggleDatabaseSubMenu()">Database</a>
                                <ul class="nav flex-column ms-3" id="databaseSubMenu" style="display: none;">
                                    <li>
                                        <a href="{% url 'database:database' %}" class="nav-link {% if request.path == '/database/' %}active{% else %}link-dark{% endif %}">Brokers</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'database:database' %}" class="nav-link {% if request.path == '/database/' %}active{% else %}link-dark{% endif %}">Securities</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'database:database' %}" class="nav-link {% if request.path == '/database/' %}active{% else %}link-dark{% endif %}">Prices</a>
                                    </li>
                                </ul>
                        </li>
                    </ul>
                    
                        <hr>
                    <div>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li>
                                <a href="{% url 'users:profile' %}" class="nav-link {% if request.path == '/users/profile/' %}active{% else %}link-dark{% endif %}">Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="right">
                <div class="wrapper">
                    {% comment %} {% if get_flashed_messages() %}
                            <div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
                                {{ get_flashed_messages() | join(" ") }}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                    {% endif %} {% endcomment %}

                    
                    {% if user.is_authenticated %} <main class="p-3"> {% endif %}
                        {% block main_page_title %} {% endblock main_page_title %}
                        <hr>
                        {% block content %} {% endblock content %}
                    {% if user.is_authenticated %} </main> {% endif %}
                </div>
            </div>  
        </div>

        <!-- Success Modal -->
        <div class="modal fade" id="successModal" data-success-type="" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Success</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        [Text content is here]
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary flex-fill col-md-5" data-bs-dismiss="modal">OK</button>
                        <a href=# class="btn btn-primary flex-fill col-md-5">[Link is here]</a>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>