{% load static %}

<!DOCTYPE html>
<html lang="en">

    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    

        <meta name="description" content="Portfolio analysis">
        <meta name="keywords" content="portfolio, investments">

        <!--jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Bootstrap CSS + JS plugin-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
            
        <!-- Latest BS-Select compiled and minified CSS/JS -->
        <!-- https://developer.snapappointments.com/bootstrap-select/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

        {% if user.is_authenticated %}
            <script src="{% static 'js/sidebar.js' %}"></script>
        {% endif %}

        {% block script %}{% endblock script %}

        {% comment %} {% block datatable_scripts %} {% endblock datatable_scripts %}  {% endcomment %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title>{% block title %} {% endblock title %}</title>
    </head>

    <body>
        
        <div class="container">
            {% if user.is_authenticated %}
                <nav class="left" style="text-align: center;">
                    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">
                        <img src="{% static 'icons/list.svg' %}" alt="Bootstrap" class="nav-menu-icon" title="Expand menu" onclick="actionNav()">
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li
                                {% if request.path == '/dashboard/' %}
                                    style="background-color: #e9ecef; border-radius: 0.5rem"
                                {% endif %}
                            >
                                <a href="{% url 'dashboard:dashboard' %}">
                                    <img src="{% static 'icons/briefcase.svg' %}" alt="Bootstrap" class="nav-icon" title="Dashboard">
                                </a>
                            </li>
                            <li
                                {% if request.path == '/open' %}
                                    style="background-color: #e9ecef; border-radius: 0.5rem"
                                {% endif %}
                            >
                                <a href=#>
                                    <img src="{% static 'icons/clipboard2-check.svg' %}" alt="Bootstrap" class="nav-icon" title="Open">
                                </a>
                            </li>
                            <li
                                {% if request.path == '/closed' %}
                                    style="background-color: #e9ecef; border-radius: 0.5rem"
                                {% endif %}
                            >
                                <a href=#>
                                    <img src="{% static 'icons/clipboard2-x.svg' %}" alt="Bootstrap" class="nav-icon" title="Closed">
                                </a>
                            </li>
                            <li
                                {% if request.path == '/transactions' %}
                                    style="background-color: #e9ecef; border-radius: 0.5rem"
                                {% endif %}
                            >
                                <a href=#>
                                    <img src="{% static 'icons/arrow-left-right.svg' %}" alt="Bootstrap" class="nav-icon" title="Transactions">
                                </a>
                            </li>
                            <hr>
                            <li
                                {% if request.path == '/database' %}
                                    style="background-color: #e9ecef; border-radius: 0.5rem"
                                {% endif %}
                            >
                                <a href=#>
                                    <img src="{% static 'icons/database.svg' %}" alt="Bootstrap" class="nav-icon" title="Database">
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <a href="{% url 'users:profile' %}">
                            <img src="{% static 'icons/person-circle.svg' %}" alt="Bootstrap" class="nav-icon" title="Database">
                        </a>
                    </div>
                </nav>
                <div class="extended_sidebar bg-light" style="width: {{ sidebar_width }}px; padding-right: {{ sidebar_padding }}rem;">
                    <a href="#" class="link-dark text-decoration-none">
                        <span style="font-size: 25px">Menu</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="{% url 'dashboard:dashboard' %}"
                                {% if request.path == '/dashboard/' %}
                                    class="nav-link active">
                                {% else %}
                                    class="nav-link link-dark">
                                {% endif %}
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href=# 
                                {% if request.path == '/open' %}
                                    class="nav-link active">
                                {% else %}
                                    class="nav-link link-dark">
                                {% endif %}
                                Open
                            </a>
                        </li>
                        <li>
                            <a href=# 
                                {% if request.path == '/closed' %}
                                    class="nav-link active">
                                {% else %}
                                    class="nav-link link-dark">
                                {% endif %}
                                Closed
                            </a>
                        </li>
                        <li>
                            <a href=#
                                {% if request.path == '/transactions' %}
                                    class="nav-link active">
                                {% else %}
                                    class="nav-link link-dark">
                                {% endif %}
                                Transactions
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href=#
                                {% if request.path == '/database' %}
                                    class="nav-link active">
                                {% else %}
                                    class="nav-link link-dark">
                                {% endif %}
                                Database
                            </a>
                        </li>
                    </ul>
                    
                        <hr>
                    <div>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li>
                                <a href="{% url 'users:profile' %}"
                                    {% if request.path == '/users/profile/' %}
                                        class="nav-link active">
                                    {% else %}
                                        class="nav-link link-dark">
                                    {% endif %}
                                    Profile
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="right">
                <div class="wrapper">
                    {% comment %} {% if get_flashed_messages() %}
                            <div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
                                {{ get_flashed_messages() | join(" ") }}.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                    {% endif %} {% endcomment %}

                    
                    <main class="p-3">
                        {% block main_page_title %} {% endblock main_page_title %}
                        <hr>
                        {% block content %} {% endblock content %}
                    </main>
                </div>
            </div>  
        </div>

        <!-- Success Modal -->
        <div class="modal fade" id="successModal" data-success-type="" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Success</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Property saved successfully.
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary flex-fill col-md-5" onclick="">OK</button>
                        <a href=# class="btn btn-primary flex-fill col-md-5">Go to Properties page</a>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>