{% extends "layout.html" %}

{% block datatable_scripts %}
    <!-- DataTables from datatables.net to provide sorting and searching -->
    <!-- https://datatables.net/examples/styling/bootstrap5.html -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    {% block table_script %}{% endblock table_script %}

{% endblock datatable_scripts %}

{% block content %}

    {% block actions_menu %}{% endblock actions_menu %}

    {% block main_table %}{% endblock main_table %}

{% endblock content %}