{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}

{% block script %}

    <!-- Script from DataTables -->
    <script>
        $(document).ready(function () {
            $('#table-closed').DataTable( {
                // Make the default sorting by column 4 (DATE) and do not show sorting for selected columns
                "autoWidth": false,
                columnDefs: [
                    { orderable: false, targets: [0, 2, 3, 5, 7, 8, 13] }
                ],
                order: [[2, 'asc']],
                dom: 'rt<"bottom"<"row"<"col-md-4"l><"col-md-4 text-center"f><"col-md-4 text-right"p>>>'
                {% comment %} "dom": "<'row'<tr>>" +
                            "<'row'<'col-md-3'l><'col-md-4'f><'col-md-5'p>>",
                "pageLength": 25  {% endcomment %}
            });
        });

    </script>

{% endblock script %}

{% block title %}
    Closed positions
{% endblock title %}

{% block main_page_title %}
    <h2>Closed positions</h2>
{% endblock main_page_title %}

{% block content %}

    {% include "snippets/buttons-settings-header.html" %}

    <table id="table-closed" class="table table-hover table-striped align-middle">
        <thead>
            <tr>
                <th class="text-start">Type</th>
                <th class="text-start">Name</th>
                <th class="text-center">Investment date</th>
                <th class="text-center">Closure date</th>
                <th class="text-center">Currency</th>
                <th class="text-center">Investment</th>
                <th class="text-center">Exit value</th>
                <th class="text-center">Realized gain/(loss)</th>
                <th class="text-center">Capital distribution</th>
                <th class="text-center">Return</th>
            </tr>
        </thead>
        <tbody>
        {% for position in portfolio_closed %}    
            <tr>
                <td class="text-start">{{ position.type }}</td>
                <td class="text-start">{{ position.name }}</td>
                <td class="text-center">{{ position.investment_date }}</td>
                <td class="text-center">{{ position.exit_date|date:'j-M-y' }}</td>
                <td class="text-center">{{ position.currency | upper }}</td>
                <td class="text-center">{{ position.entry_value }}</td>
                <td class="text-center">{{ position.exit_value }}</td>
                <td class="text-center">{{ position.realized_gl }}</td>
                <td class="text-center">{{ position.capital_distribution }}</td>
                <td class="text-center fst-italic">{{ position.irr }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold" colspan="2">TOTAL</td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="border-0"></td>
                <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals|get_item:"realized_gl" }}</td>
                <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals|get_item:"capital_distribution" }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock content %}