<tr>
    <td class="border-0 fw-bold" colspan="2">TOTAL</td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.entry_value }}</td>
    <td class="border-0"></td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.exit_value }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.realized_gl }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_closed_totals.price_change_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.capital_distribution }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_closed_totals.capital_distribution_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.commission }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_closed_totals.commission_percentage }}</td>
    <td class="border-0"></td>
    <td class="text-center border-0 fw-bold">{{ portfolio_closed_totals.total_return_amount }}</td>
    <td class="text-center border-0 fw-bold fst-italic">{{ portfolio_closed_totals.total_return_percentage }}</td>
</tr>